<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Politico Dashboard</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/styleb.css" type="text/css">
</head>
<body>
	<header>
		<a href="dashboard.html"><span></span>Politico</a>
		
		<a href="#" class="minimize_button" onclick="togle_nav_func()"><span><i class="fa fa-bars fa-1x"></i></span></a>
	</header>
	<div class="side-nav visible" id="togle_nav">
		<nav>
			<ul>
				<li >
					<a href="dashboard.html">
						<span ><i class="fa fa-home fa-fw"></i></span>
						<span>Home</span>
					</a>
				</li>
				<li> 
					<a href="admin_party.html">
						<span ><i class="fa fa-asterisk"></i></span>
						<span>Political Party</span>
					</a>
				</li>
				<li class="active"> 
					<a href="admin_office.html">
						<span ><i class="fa fa-compress"></i></span>
						<span>Political Office</span>
					</a>
				</li>
				<li> 
					<a href="candidate_request.html">
						<span ><i class="fa fa-pencil-square"></i></span>
						<span>Candidate Request</span>
					</a>
				</li>
				
				<li> 
					<a href="vote_result.html">
						<span ><i class="fa fa-envelope"></i></span>
						<span>Vote Result</span>
					</a>
				</li>
				
				<li>
					<a href="admin_profile.html">
						<span ><i class="fa fa-envelope"></i></span>
						<span>View Profile</span>
					</a>
				</li>
				<li>
					<a href="../index.html">
						<span ><i class="fa fa-power-off"></i></span>
						<span>Logout</span>
					</a>
				</li>
				
			</ul>
		</nav>
	</div>
	
		<div class="main-content">
			<div class="title">
				home / admin_office
			</div>
			
			<div class="main">
				
				<!-- CREATE POLITICAL PARTY START -->
				<div class="widget widget_table" style="overflow-x:auto;">
					<div class="title heado">Create New Political Office</div>
					<div class="widget_stat widget_stat_table">
						<div style="overflow-x:auto;">
							<form action="#" method="GET">
							 
							 <div class="input-group">
								   
								 <label>Office Name</label>
								 <input type="text" name="officename" placeholder="Office Name">								 
							 </div>
							<div class="input-group">
								<label>Office Type</label>
								<select id="types" name="type">
								  <option value="">Select office type</option>
								  <option value="federal">Federal Government</option>
								  <option value="legislative">Legislative Government</option>
								  <option value="state">State Government</option>
								  <option value="local">Local government</option>
								</select>
							</div>
							
							<div class="input-group">
									<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
									<button type="submit" name="submit" class="btn">Create Office</button>
							</div>

						</form>
						</div>
					</div>
				</div>
				<!-- END POLITICAL PARTY -->
				
				
			</div>
		
			<div class="main">
				<!-- CREATE POLITICAL PARTY START -->
				<div class="widget widget_table" style="overflow-x:auto;">
					<div class="title heado">Political Parties List</div>
					<div class="widget_stat widget_stat_table">
					<div style="overflow-x:auto;">
						<table style="overflow:scroll;">
						<thead>
							<tr>
								<th>Id</th>
								<th>Name</th>
								<th>Type</th>
								<th>Date Created</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="#">1</a></td>
								<td>National Assembly Member</td>
								<td>Federal</td>
								<td>29-01-2019</td>
								<td>
									<span><a href="editoffice.html" title="Edit Office"><i class="fa fa-pencil-square"></i></a></span> | 
									<span><a href="#" title="Delete Office" onclick = "return confirm ('Are you sure you want to delete this office?');"><i class="fa fa-trash"></i></a></span>
								</td>
							</tr>
							<tr>
								<td><a href="#">2</a></td>
								<td>Legislative Council Member</td>
								<td>Legislative</td>
								<td>19-01-2019</td>
								<td>
									<span><a href="editoffice.html" title="Edit Office"><i class="fa fa-pencil-square"></i></a></span> | 
									<span><a href="#" title="Delete Office" onclick = "return confirm ('Are you sure you want to delete this office?');"><i class="fa fa-trash"></i></a></span>
								</td>
							</tr>
							<tr>
								<td><a href="#">3</a></td>
								<td>Local Government Chairman</td>
								<td>Local Government</td>
								<td>22-01-2019</td>
								<td>
									<span><a href="editoffice.html" title="Edit Office"><i class="fa fa-pencil-square"></i></a></span> | 
									<span><a href="#" title="Delete Office" onclick = "return confirm ('Are you sure you want to delete this office?');"><i class="fa fa-trash"></i></a></span>
								</td>
							</tr>
							
						</tbody>
						</table>
						<button class="btn btnmore">View More</button>
						</div>
					</div>
				</div>
				<!-- END POLITICAL PARTY -->
			</div>
			
			
		</div>
	
	<footer>
		&copy; 2019 Politico by Abosede Samson
	</footer>
	
	<script src="../js/script.js"></script>
</body>
</html>